@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

.header {
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    background: var(--color-primario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 2;
    top: 0;
    
}
.header__logo {
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;
}

.banner{
    background: var(--color-primario);
    width: 100%;
    height: 30vh;
    position: absolute;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    
}

.logo__icono img {
    width: 3em;
}

.logo__titulo {
    /* background: orange; */
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}

.header__menu i {
    font-size: 3em;
    color: var(--color-ternario);
}

.main{
    background: white;
    width: 100%;
    height: 100vh;
}

.main__top{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 31.5%;
}
.main__fondo{
    background: var(--color-secundario);
    width: 150px;
    height: 150px; 
    border-radius: 80%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.main__fondo h4,
.main__fondo p{
    color: var(--color-ternario);
    font-size: 1.3em;
    text-transform: capitalize;
    line-height: 30px;
}
.main__fondo h4{
    text-align: center;
}


.main__botones{
    margin-top: 20px;
    width: 100%;
    height: 10%;
}
.main__caja{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.main__caja button{
    width: 5.5em;
    height: 50%;
    border-radius: 50px;
    text-transform: capitalize;
    border: 1px solid;
}
.caja__1{
    background: var(--color-primario);
    color: var(--color-ternario);
    border: var(--color-primario);
}
.caja__2{
    background: transparent;
    color: var(--color-secundario);
}
.caja__3{
    background: transparent;
    color: var(--color-cuarto);
}





.main__media{
    /*background: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__imagen img{
    width: 100%; 
    height: 100%;
}

.main__semanas{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 17px;
    text-transform: capitalize;
}




.main__final{
    margin-top: 50px;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row-reverse;
    background: rgba(0, 221, 162, 0.087);
   
}
.main__icono{
    color: var(--color-secundario);
    position: absolute;
    margin-right: 10px;
    margin-top: 15px;
}
.main__icono i{
    font-size: 30px;
    
}
.main__texto{
    width: 100%;
    height: 100%;
    /* background: red; */
    margin-top: 50px;
}
.main__texto h3{
    line-height: 45px;
    text-transform: capitalize;
    font-size: 25px;
}
.main__texto p{
    color: var(--color-cuarto);
    font-size: 10.6px;
    margin-right: 20px;
   
}
.main__tarjeta{
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main__tarjeta img{
    width: 80%;
    height: 80;
    margin-top: 50px;
    
}







.footer {
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img{
    width: 2em;
}

.footer {
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}

