<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="banners"></div>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/Frame_2.svg">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">
        <section class="main__top">
            <article class="main__fondo">
                <h4>total </h4>
                <h4>balance</h4>
                <p>$214,417</p>
            </article>
        </section>
        <section class="main__botones">
            <article class="main__caja">
                <button class="caja__1">assets</button>
                <button class="caja__2">debt</button>
                <button class="caja__3">income</button>
            </article>
        </section>
        <section class="main__media">
            <article class="main__imagen">
                <img src="../storage/img/imagenn.png">
                <div class="main__semanas">
                    <p>s m t w t f s</p>
                </div>
            </article>
        </section>
        <section class="main__final">
            <article class="main__icono">
                <i class='bx bxs-x-circle'></i>
            </article>
            <article>
                <div class="main__texto">
                    <h3>spending.</h3>
                    <p>You forgot to add debt card number at payment #1323. Add it now.</p>
                </div>
            </article>
            <article class="main__tarjeta">
                <img src="../storage/img/trajeta.png">
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href=""><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="../views/balance.html"><img src="../storage/img/Group 216.svg"></a>
            </li>
            <li>
                <a href="../views/cards.html"><img src="../storage/img/icon (2).svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon (3).svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon (4).svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>